html, body {
    width: 100%; 
    height:100%;
    margin:0;
    padding:0;
    background-color: #000000;
}

div.main_menu {
    color: white;
    height: 50px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

div.text {
    text-align: left;
    color: white;
    font: 200% 'Roboto', sans-serif;
}

div.regular_text {
    text-align: center;
    color: white;
    font: 150% 'Roboto Condensed', sans-serif;
}

#outer {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
}

#uc_img {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

.footer {
    margin-top: -100px;
    height: 100px;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0;
}
