html, body {
    width: 100%; 
    height:100%;
    margin:0;
    padding:0;
    background-color: #000000;
}

div.big_text {
    text-align: left;
    color: white;
    font: 200% 'Roboto', sans-serif;
}

div.regular_text {
    text-align: justify;
    color: white;
    font: 150% 'Roboto Condensed', sans-serif;
}

div.centered_text {
    text-align: center;
    color: white;
    font: 150% 'Roboto Condensed', sans-serif;
}

#uc_img {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

.footer {
    margin-top: -100px;
    height: 100px;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0;
}

a, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #fac533;
    text-decoration: none;
}

nav {
    padding: 5px 5px;
    background-color: #a0a0a0;
}

.icons {
    height: 52px; 
    width: 52px; 
}

.logo {
    height: 52px; 
    width: 52px; 
    background: url("images/logo.svg") no-repeat;
    background-size: 52px;
    display: inline-block;
}

.logo:hover {
    height: 52px; 
    width: 52px; 
    background: url("images/logo_hover.svg") no-repeat;
    background-size: 52px;
}
